body{
    
    background-color: white;
    padding: 20px 20px;
}

.banner{
    background-color: rgb(245, 241, 241);
    height: 80vh;
    margin-top: 4em;
    padding-bottom: 10em;
}
 
.inside{
    display:block;
    padding-left: 15em;
    padding-top: 10em;
    padding-right: 15em;
    padding-bottom: 10em;
    margin-bottom: 15em;

}
 .insider{
    display:block;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    padding-right: 15em;
    padding-left: 15em;
  
 }

.External-box{
    display:flex;
}


.internal-1{
 flex:1
}
.internal-2{
    flex:2;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

#back-btn{
    background-color: darkgray;
    top: 0px;
    border-radius: 5px;
}
.btn{
    background-color: orange;
    opacity: 0.6;
    border-radius: 8px;
    font-size: 50px;
    color:white;
}




.bt{
    background-color: orange;
    opacity: 0.6;
    color:white;
    border-radius: 5px;
    font-size: 20px;
}
.box-1{
    background-color: white;
    flex: 3;
    text-align: center;
}
.box-2{
    background-color: red;
    flex: 1;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top:35px;
}
.box-3{
    background-color: red;
    flex: 1;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top:35px;
}
    

.box-4{
    background-color: red;
    flex: 1;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top:35px;
    padding-top:35px;

}
.box-5{
    background-color: red;
    flex: 1;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding-top:35px;
}

.flex-box{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    padding: 60px;
}
​
/*product list page*/

button{

    background-color: rgb(219, 79, 23);
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 7px;
    border-radius: 5px;
}


    


h1{
    text-indent: 3em;
    font-size: 4em;
    font-family: sans-serif;
    text-shadow: 1px 1px 10px lightgray;
}

.product-1{
    background-color:rgb(103, 138, 151);
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-8{
    background-color:brown;
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-2{
    background-color:brown;
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-3{
    background-color:blue;
    border-radius: 20px;
    height:20vh;
    width:160px;
    
}
.product-4{
    background-color:rgb(211, 177, 177);
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-5{
    background-color:brown;
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-6{
    background-color:brown;
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}
.product-7{
    background-color:brown;
    border-radius: 20px;
    height: 20vh;
    width: 160px; 
}


.container{
    background-color: rgb(245, 241, 241);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    height: 80vh;
    margin:40px;
    padding-top:100px;
    padding-left:150px;
    padding-right:150px;

}

.product-btn{
    width: 160px;
    text-align: center;
    margin-top: 15px;
    border-radius: 20px;
    
}